:root {
    --dark-primary: rgba(42, 37, 75, 1);
    --primary: rgba(78, 77, 147, 1);
    --light-grey: rgba(249, 249, 249, 1);
    --border-grey: rgba(235, 232, 244, 1);
    --white: rgba(255, 255, 255, 1);
    --border-dark: rgba(202, 198, 218, 1);
    --images-dark-chair: rgba(246, 246, 246, 1);
    --headings-h1-font-family: "Clash Display", Helvetica;
    --headings-h1-font-weight: 400;
    --headings-h1-font-size: 36px;
    --headings-h1-letter-spacing: 0px;
    --headings-h1-line-height: 139.9999976158142%;
    --headings-h1-font-style: normal;
    --headings-h2-font-family: "Clash Display", Helvetica;
    --headings-h2-font-weight: 400;
    --headings-h2-font-size: 32px;
    --headings-h2-letter-spacing: 0px;
    --headings-h2-line-height: 139.9999976158142%;
    --headings-h2-font-style: normal;
    --headings-h3-font-family: "Clash Display", Helvetica;
    --headings-h3-font-weight: 400;
    --headings-h3-font-size: 24px;
    --headings-h3-letter-spacing: 0px;
    --headings-h3-line-height: 139.9999976158142%;
    --headings-h3-font-style: normal;
    --headings-h4-font-family: "Clash Display", Helvetica;
    --headings-h4-font-weight: 400;
    --headings-h4-font-size: 20px;
    --headings-h4-letter-spacing: 0px;
    --headings-h4-line-height: 139.9999976158142%;
    --headings-h4-font-style: normal;
    --headings-h5-font-family: "Clash Display", Helvetica;
    --headings-h5-font-weight: 400;
    --headings-h5-font-size: 16px;
    --headings-h5-letter-spacing: 0px;
    --headings-h5-line-height: 139.9999976158142%;
    --headings-h5-font-style: normal;
    --headings-h6-font-family: "Clash Display", Helvetica;
    --headings-h6-font-weight: 400;
    --headings-h6-font-size: 14px;
    --headings-h6-letter-spacing: 0px;
    --headings-h6-line-height: 139.9999976158142%;
    --headings-h6-font-style: normal;
    --body-small-font-family: "Satoshi", Helvetica;
    --body-small-font-weight: 400;
    --body-small-font-size: 14px;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: 150%;
    --body-small-font-style: normal;
    --body-medium-font-family: "Satoshi", Helvetica;
    --body-medium-font-weight: 400;
    --body-medium-font-size: 16px;
    --body-medium-letter-spacing: 0px;
    --body-medium-line-height: 150%;
    --body-medium-font-style: normal;
    --body-large-font-family: "Satoshi", Helvetica;
    --body-large-font-weight: 400;
    --body-large-font-size: 18px;
    --body-large-letter-spacing: 0px;
    --body-large-line-height: 150%;
    --body-large-font-style: normal;
  }
  